<form action="/login_check" method="post">
    <input type="hidden" name="_csrf_token" value="RrRSMpy0T_fGVyz93XoMzIV52-TAfZan1y7MIjaOGa4"/>

    <label for="username">Name</label>
    <input type="text" id="username" name="_username" value="" required="required"
           autocomplete="username"/>

    <label for="password">Password</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password"/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">Remember me</label>

    <input type="submit" id="_submit" name="_submit" value="Log in"/>
</form>