<h1>Your friends !</h1>

<div ng-model="friends">
    <div ng-if="friends.length > 0" ng-repeat="friend in friends">
        <form name="remove" ng-submit="removeFriend(friendform)" name="form">
            <div>
                <p> {{ friend .name}}</p>
                <input type="hidden" name="id" value="{{ friend.id }}">
                <button name="add" id="{{ friend.id }}">Supprimer cet ami</button>
            </div>
        </form>
    </div>
    <p ng-if="friends.length === 0">Pas encore d'amis :(</p>
</div>

<form name="friendform" ng-submit="addFriend(friendform)" name="form">
    <input ng-model="username" type="text" name="name" id="nameInput" placeholder="name" list="nameList"/>
    <button name="add">Ajouter en ami</button>
    <br>
    <datalist id="nameList">
    </datalist>
</form>