<h1>Your friends !</h1>

<div ng-if="friends.length > 0">

    <div ng-repeat="friend in friends">
        <form ng-submit=" removeFriend(this)">
            <p> {{ friend .name}}</p>
            <input ng-model="userid" ng-value="friend .name" type="hidden">
            <button>Supprimer cet ami</button>
        </form>
    </div>
</div>

<p ng-if=" friends.length=== 0">Pas encore d'amis :(</p>

<form name="friendform" ng-submit="addFriend(friendform)">
    <input ng-model="username" type="text" name="name" id="nameInput" placeholder="name" list="nameList"/>
    <button name="add">Ajouter en ami</button>
    <br>
    <datalist id="nameList">
    </datalist>
</form>