<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <style> body {
            background: coral;
        }</style>
</head>
<body>
{% if is_granted('ROLE_USER') %}
    Welcome To Safari
    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    <a href="{{ path('fos_user_profile_edit') }}">Edit profile</a>
    <a href="/friends">Add Friends</a>
{% else %}
    <a href="/register">Register</a>
    <a href="{{ path('fos_user_security_login') }}">Login</a>
{% endif %}
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
