<form name="fos_user_profile_form" method="post" action="/profile/edit" class="fos_user_profile_edit">
    <div id="fos_user_profile_form">
        <div>
            <label for="fos_user_profile_form_name" class="required">Name</label>
            <input type="text" id="fos_user_profile_form_name" name="fos_user_profile_form[name]" required="required"
                   value="hanva100"/></div>
        <div>
            <label for="fos_user_profile_form_age" class="required">Age</label>
            <input type="number" id="fos_user_profile_form_age" name="fos_user_profile_form[age]" required="required"
                   value="20"/>
        </div>
        <div>
            <label for="fos_user_profile_form_family" class="required">Family</label>
            <input type="text" id="fos_user_profile_form_family" name="fos_user_profile_form[family]"
                   required="required" value="yo"/></div>
        <div>
            <label for="fos_user_profile_form_race" class="required">Race</label>
            <input type="text" id="fos_user_profile_form_race" name="fos_user_profile_form[race]" required="required"
                   value="dzaadaz"/></div>
        <div>
            <label for="fos_user_profile_form_food" class="required">Food</label>
            <input type="text" id="fos_user_profile_form_food" name="fos_user_profile_form[food]" required="required"
                   value="dzaazddza"/></div>
        <input type="hidden" id="fos_user_profile_form__token" name="fos_user_profile_form[_token]"
               value="b4uSrfIQjCrCN80e--BsXNHErr5kNnDsu_7DBUEOAHM"/></div>
    <div>
        <input type="submit" value="Update"/>
    </div>
</form>